@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte1: verdana, geneva, tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}

* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: #253c59;
  color: white;
  font-weight: bolder;
}

header > h1 {
  font-family: var(--fonte2);
  text-align: center;
  padding: 50px;
  font-size: 70px;
  text-shadow: 2px 2px 2px solid black;
}

main {
  width: 90vw;
  background-color: #58788c;
  margin: auto;
  border-radius: 10px;
}

menu {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

menu > ul {
  display: flex;
  cursor: pointer;
  list-style: none;
}

menu > ul > li {
  width: 15vw;
  padding: 8px;
}

menu > ul > li > a {
  display: flex;
  justify-content: center;
  font-family: var(--fonte2);
  background-color: #2d4453;
  color: white;
  padding: 5px;
  border: 5px solid #253c59;
  border-radius: 10px;
}

menu > ul > li a:hover {
  background-color: #406899;
  color: white;
  transition: 1s;
}

section {
  padding-top: 5vw;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vw;
}

section.normal {
  height: fit-content;
  text-align: center;
  background-color: #58788c;
  border-radius: 10px 10px 0px 0px;
}

p {
  font-family: var(--fonte3);
  color: white;
  font-size: 20px;
}

main > section.imagem {
  background-color: rgb(54, 54, 54);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.699);
  background-size: cover;
  background-attachment: fixed;
}

section#img01 {
  height: 500px;
  background-image: url(../imagens/1.jpg);
}

section#img02 {
  height: 500px;
  background-image: url(../imagens/1.jpg);
  border-radius: 0px 0px 10px 10px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2d4453;
  color: white;
  text-align: center;
  font-weight: bolder;
}
