@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte1: verdana, geneva, tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}

* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: #253c59;
  color: white;
  font-weight: bolder;
}

header > h1 {
  text-align: center;
  padding: 50px;
  font-size: 70px;
  text-shadow: 2px 2px 2px solid black;
}

main {
  width: 90vw;
  background-color: #58788c;
  margin: auto;
  border-radius: 10px;
}

menu {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

menu > ul {
  cursor: pointer;
}

menu > ul > li {
  display: inline-block;
  width: 150px;
}

menu > ul > li > a {
  padding: 5px;
  display: grid;
  text-decoration: none;
  text-align: center;
  background-color: #2d4453;
  color: white;
  border-radius: 10px;
}

menu > ul > li a:hover {
  background-color: #406899;
  color: white;
}

section {
  padding-top: 5vw;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

section.normal#um {
  height: 400px;
  text-align: center;
  background-color: #58788c;
  border-radius: 10px 10px 0px 0px;
}

section.normal#dois {
  height: 400px;
  text-align: center;
  background-color: #58788c;
  border-radius: 0px 0px 0px 0px;
}
main > section > p {
  color: white;
  font-size: 20px;
}

main > section.imagem {
  background-color: rgb(54, 54, 54);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.699);
  background-size: cover;
  background-attachment: fixed;
}

section#img01 {
  height: 500px;
  background-image: url(../imagens/1.jpg);
}

section#img02 {
  height: 500px;
  background-image: url(../imagens/1.jpg);
  border-radius: 0px 0px 10px 10px;
}

footer {
  background-color: #2d4453;
  color: white;
  text-align: center;
  font-weight: bolder;
}
